.asp-accrdn {
    padding: 50px 0;

    &__cta {
        display: flex;
        justify-content: center;
        padding: 40px 0 0 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        p {
            color: #D32027;
            font-weight: 600;
            font-size: 26px;
        }
    }
    .accordion-body {
        padding: 0 24px;
    }
    .accordion {
        outline: none;
        border: none;
        border-radius: 20px;
    }

    .accordion-button {
        font-weight: bold;
        color: #414141;
        font-size: 24px;
        padding: 30px;
    }

    .accordion-button:focus {
        z-index: 3;
        outline: 0;
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
    }

    .accordion-button[aria-expanded=false] {
        &::after {
            content: "";
            position: absolute;
            right: 24px;
            width: 28px;
            height: 28px;
            top: 35%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24' transform='matrix(0 1 1 0 0 0)' fill='white' stroke='%23A91E25' stroke-width='2'/%3E%3Cpath d='M35.0002 21L25.0002 31L15.0002 21' stroke='%23A91E25' stroke-width='4.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }
    .accordion-button[aria-expanded=true] {
        &::after {
            content: "";
            position: absolute;
            right: 24px;
            width: 28px;
            height: 28px;
            top: 35%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='24' transform='matrix(0 1 1 0 0 0)' fill='white' stroke='%23A91E25' stroke-width='2'/%3E%3Cpath d='M35.0002 21L25.0002 31L15.0002 21' stroke='%23A91E25' stroke-width='4.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }

    .accordion-item {
        border-radius: 15px;
        border: none;
        overflow: hidden;
        margin-bottom: 24px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .accordion-button:not(.collapsed)  {
        box-shadow: none;
    }
}

@include mobile-tablet {
    .asp-accrdn {
        .accordion-button {
            font-size: 20px;
        }
        .accordion-body {
            padding: 0;
        }
    }
}