.asp-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 0px;
   &__outer {
      background-color: #033162;
   }
   &__left {
      width: 260px;
      img {
         width: 100%;
      }
   }
   &__right, 
   &__profile,
   &__controls,
   &__controls a {
      display: flex;
      align-items: center;
   }
   &__profile {
      margin-left: 24px;
      border-right: 1px solid #fff;
      p {
         color: #fff;
         margin: 0 20px 0 10px;
      }
   }
   &__searchimg {
      margin-left: 16px;
   }
   &__ipouter {
      display: none;
      margin-left: 16px;
   }
   &__ipouter.active {
      display: block;
   }
   &__input {
      border: none;
      outline: none;
      padding: 6px 12px;
      border-radius: 20px; 
      color: #033162; 
   }
   &__search {
      display: flex;
   }
}

@include mobile {
   .asp-header {
      flex-direction: column;
      padding: 20px 0px;
      &__left {
         margin-bottom: 5px;
      }
      &__right {
         flex-direction: column-reverse;
      }
      &__controls {
         margin-bottom: 20px;
         flex-direction: column;
      }
      &__profile {
         border-right: 0;
      }
      &__search {
         margin-top: 20px;
      }
      &__ipouter {
         display: block;
      }
   }
}